html{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
}
ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
}
.hidden-box{
    position: absolute;
    height: 60px;
    width: 100px;
    z-index: 1;
}
.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    color: #F9DBBD;
}
.nav-container ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-left: 1em;
    margin-right: 1em;
}
.nav-container ul li:hover{
    cursor: pointer;
}
.banner-container{
    display: flex;
    align-items: center;
    height: 160px;
    background-color: #640D14;
}
.name-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}
.username{
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
}
.title{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}
.goal-container{
    display: flex;
    flex-direction: column;
}
.goal-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.goal-title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 40vw;
    border-radius: 20px;
    background-color: black;
    color: white;
    margin-bottom: 40px;
}
.edit-goal-title{
    color: gray;
    font-size: 20px;
    background-color: black;
    border: none;
    margin-left: 2em;
    width: calc(40vw - 110px);
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
}
.goal-title{
    margin-left: 2em;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    width: calc(40vw - 110px);
}
.goal-title:hover{
    cursor: pointer;
}
.goal-complete-status{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    min-width: 56px;
    border-radius: 20px;
    background-color: white;
    margin-right: 2px;
}
.goal-not-complete:hover{
    cursor: pointer;
}
.add-goal-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-goal-title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    width: 40vw;
    border-radius: 20px;
    background-color: black;
}
.add-goal-title{
    background-color: black;
    color: white;
    border: 0px;
    margin-left: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}
.add-goal-title:focus{
    outline: none;
}
.add-goal-content-outline{
    border-radius: 20px;
    border: 1px solid black;
    width: 39.9vw;
    height: 460px;
    position: absolute;
    z-index: -1;
}
.add-goal-content-container{
    width: 40vw;
    height: 400px;
}
.add-goal-content{
    display: flex;
    flex-direction: column;
    border: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: black;
    margin-left: 50px;
    width: calc(40vw - 100px);
    height: 375px;
    resize: none;
    margin-top: 20px;
    margin-bottom: 40px;
    justify-content: space-between;
}
.edit-goal-content{
    border: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: gray;
    margin-left: 0px;
    width: calc(40vw - 100px);
    height: 375px;
    resize: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
.outline-animate-in{
    animation: height-scale .3s ease-in-out forwards;
}
.outline-animate-out{
    animation: height-scale-out .3s ease-in-out forwards;
}
.content-animate-out{
    animation: content-height-scale-out .3s ease-in-out forwards;
}
@keyframes height-scale{
    from{
        height: 60px;
    }
    to{
        transform: scale(1);
    }
}
@keyframes height-scale-out{
    from{
        transform: scale(1);
        margin: 0px;
    }
    to{
        height: 59px;
        margin: 0px;
    }
}
@keyframes content-height-scale-out {
    from{
        transform: scale(1);
        margin: 0px;
    }
    to{
        height: 0px;
        margin: 0px;
    }
}
.add-goal-content:focus{
    outline: none;
}
.add-goal-submit{
    margin-top: 40px;
    border: 1px solid #FF2A2A;
    border-radius: 40px;
    width: 100px;
    height:30px;
    color: #FF2A2A;
    background-color: white;
    margin-left: calc(40vw - 100px);
}
.add-goal-submit:hover{
    cursor: pointer;
}
.goals{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.remove-margin{
    margin: 0px;
}
.remove-hover:hover{
    cursor: default;
}
.fade{
    opacity: 0.5;
}
.button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 12vw;
    margin-top: 30px;
}
.button{
    border: none;
    background-color: white;
    color: red;
}
.button:hover{
    cursor: pointer;
    border-bottom: 1px red solid;
}
.space{
    height: 100px;
}
.button-container-edit{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    margin-bottom: 20px;
}