<!DOCTYPE html>
<html>
<head>
    <title>On Track - Keeping You On Track</title>
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <link rel="stylesheet" type="text/css" href="\css\form.css">
    <link rel="preconnect" type="text/css" href="https://fonts.googleapis.com">
    <link rel="preconnect" type="text/css" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Open+Sans&family=Rozha+One&display=swap" rel="stylesheet">
</head>
<body>
    <div id="FormRoot"></div>
    <script type="module" src="/js/formscript.js"></script>
</body>
</html>