<!DOCTYPE html>
<html>
<head>
    <title>Register Page</title>
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
</head>
<body>
    <div id="Root"></div> 
    <script type="module" src="\js\registerscript.js" crossorigin></script>
</body>
</html>